@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@600;800&family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: palegreen;
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: aliceblue;
    align-items: center;
}

.nombre-empresa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
}

a{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

div{
    display: flex;
    align-items: center;
}

img{
    height: 70px;
    margin-right: 10px;
}

.Seleccion{
    display: grid;
    grid-template-columns: repeat(2,1 fr);
    justify-items: center;
}

.Seleccion img{
    align-items: center;
    display: flex;
    justify-items: center;
    height: 400px;
    padding: 15px;
    justify-content: center;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 600px;
    margin: 40px 27px 45px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.Seleccion img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }

.Seleccion p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

@media (max-width: 1180px){
    .Seleccion{
        grid-template-columns: repeat(1,1 fr);
    }
}

@media (max-width: 700px){
    .Seleccion img{
        width: 350px;
        height: 250px;
    }
    .Seleccion p{
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.Haaland{
    display: grid;
    grid-template-columns: repeat(2,1 fr);
    justify-items: center;
}

.Haaland img{
    height: 400px;
    width: auto;
    padding: 15px;
    justify-content: center;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 600px;
    margin: 27px 27px 45px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.Haaland img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }

.Haaland p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

@media (max-width: 1180px){
    .Haaland{
        grid-template-columns: repeat(1,1 fr);
    }
}

@media (max-width: 700px){
    .Haaland img{
        width: 350px;
        height: 250px;
    }
    .Haaland p{
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.Qatar{
    display: grid;
    grid-template-columns: repeat(2,1 fr);
    justify-items: center;
}

.Qatar img{
    height: 400px;
    width: auto;
    padding: 15px;
    justify-content: center;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 600px;
    margin: 27px 27px 45px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.Qatar img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }

.Qatar p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

@media (max-width: 700px){
    .Qatar img{
        width: 350px;
        height: 250px;
    }
    .Qatar p{
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.VAR{
    display: grid;
    grid-template-columns: repeat(2,1 fr);
    justify-items: center;
}

.VAR img{
    height: 400px;
    width: auto;
    padding: 15px;
    justify-content: center;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 600px;
    margin: 27px 27px 45px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.VAR img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }


.VAR p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
}

@media (max-width: 1180px){
    .VAR{
        grid-template-columns: repeat(1,1 fr);
    }
}

@media (max-width: 700px){
    .VAR img{
        width: 350px;
        height: 250px;
    }
    .VAR p{
        font-size: 19px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.caja{
    margin-right: 0;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: aliceblue;
}

.footer {
    display: flex;
    justify-content: center;
    grid-area: footer;
    background-color: #ece2d0;
    font-family: 'Open Sans';
    align-items: center; }

.footer ul {
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding-left: 0px;}

.footer li {
    display: inline-block;
    margin: 0 25px 0 25px; }

.footer a {
    font-size: 50px;
    color: black;
    width: 20px; }

.footer i {
    transition: .3s ease; }

.footer i:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1); }

.caja p{
    display: flex;
    justify-content: center;
    height: 10px;
    font-size: 10px;
    margin-top: 40px;
}

.estadisticas{
    text-align: center;
}

.estadisticas img{
    height: 700px;
    padding: 15px;
    justify-content: center;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 500px;
    margin: 50px 27px 50px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.estadisticas img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }

h2{
    font-weight: bold;
}

.estadisticas p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px auto;
    border-radius: 20px;
}

@media(max-width:700px){
    .estadisticas img{
        width: 350px;
        height: 700px;
    }
    .estadisticas p{
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

.horarios{
    text-align: center;
}

.horarios img{
    height: 300px;
    padding: 15px;
    justify-content: center;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 600px;
    margin: 27px 27px 64px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.horarios img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }

.horarios p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px auto;
    border-radius: 20px;
}

@media (max-width: 700px){
    .horarios img{
        height: 200px;
        width: 350px;
    }
}

.horarios2{
    text-align: center;
}

.horarios2 img{
    height: 600px;
    padding: 15px;
    justify-content: center;
    margin: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: lightblue;
    width: 600px;
    margin: 27px 27px 64px 27px;
    border: solid #ece2d0;
    border-radius: 50px;
    transition: .3s ease;}

.horarios2 img:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1); }

.horarios2 p{
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    padding: 20px;
    background-color: #477647;
    margin: 20px auto;
    border-radius: 20px;
}

@media (max-width: 700px){
    .horarios2 img{
        height: 500px;
        width: 350px;
    }
}

.mainQuienessomos {
    grid-area: main;
    background-color: palegreen;
    font-family: 'Fredoka One';
    text-align: center;
    color: black;
    height: 100%;
}

.mainQuienessomos h2 {
    font-size: 50px;
    padding: 20px; }

.cajaQuienessomos {
    width: 500px;
    background-color: #477647;
    margin: 20px auto;
    border-radius: 20px; }

.cajaQuienessomos p {
    font-family: 'Fredoka One';
    font-size: 27px;
    color: #ece2d0;
    text-align: center;
    padding: 20px; }

    @media screen and (max-width: 500px){
        .cajaQuienessomos {
            width: 300px;
            justify-items: center;
        }
    }

.mainContacto {
    grid-area: main;
    background-color: palegreen;
    font-family: 'Fredoka One';
    text-align: center;
    color: black; }
    .mainContacto h2 {
    font-size: 50px;
    padding: 20px; }
    .mainContacto p {
    font-family: 'Fredoka One';
    padding: 20px 50px 20px 50px; }

.cajaFormulario {
    width: 500px;
    background-color:#477647;
    margin: 20px auto;
    border-radius: 20px; }

.contactoFormulario {
    margin: 40px; }

.casillerosFormulario {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 20px;
    outline: none;
    font-family: 'Fredoka One';
    color: darkolivegreen;
    background-color: #ece2d0; }
    .casillerosFormulario:focus {
    box-shadow: 0 0 7px #ece2d0;
    transition: all 0.3s; }

::placeholder {
    color: darkolivegreen;
    opacity: 0.5; }

@media (max-width: 532px){
    .casillerosFormulario{
        width: 300px;
    }
    .cajaFormulario{
        width: 400px;
    }
}

@media (max-width: 420px){
    .casillerosFormulario{
        width: 200px;
    }
    .cajaFormulario{
        width: 300px;
    }
}

.textarea {
    height: 150px;
    padding-top: 10px;
    resize: none; }
    .textarea:focus {
    box-shadow: 0 0 7px #ece2d0;
    transition: all 0.3s; }

.boton {
    font-family: 'Fredoka One';
    color: darkolivegreen;
    background-color: #ece2d0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 15px;
    border: solid #ece2d0;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease; }
    .boton:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);}

/* Mobile */

.section{
    display: grid;
    grid-template-columns: repeat(2,1 fr);
}

@media (max-width: 620px){
    .section{
        grid-template-columns: repeat(1,1 fr);
    }
}

